!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Socket.io Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='bower_components/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    block body
