div.row
  div.col.s12
    ul.collection
      li(ng-repeat="member in members").collection-item.avatar.center
        p.center.circle(ng-if="member.up", style="background-color: green;")
            i.material-icons(ng-if="member.leader") visibility
        p.center.circle(ng-if="!member.up", style="background-color: red;")

        span {{member.name}} - {{member.url}} - {{member.id}}

div.row
  div.col.s3
    a.waves-effect.waves-light.btn(ng-click="createToggesDir()") Toggles Init
  div.col.s9
    Change notification : {{ notifications | json }}

div.row
  div.col.s12
    form(ng-if="activeToggles")
      div.input-field
        input#key.validate(type="text",ng-model="member.key")
        label(for="key") Key
      div.input-field
        input#value.validate(type="text",ng-model="member.value")
        label(for="value") Value
      a.waves-effect.waves-light.btn(ng-click="setToggle(member.key, member.value)") Set Toggle
